body > .container {
  padding-top: 50px;
}

nav .lob-logo img {
  height: 38px;
  margin-top: -8px;
}

.postcard-create {
  margin-top: 30px;

  pre {
    border-radius: 5px;
    padding: 20px;
    font-size: 11px;
  }
}
