<div class="row">
  <div class="col-xs-12 col-ms-6 col-ms-offset-3 col-md-4 col-md-offset-4">
    <form class="form" ng-submit="login(user)">
      <h1>Login</h1>
      <div class="col-xs-12">
        <div ng-class="{ 'in alert': error }" class="fade in alert-danger">
          {{error}}
        </div>

        <div class="form-group">
          <label class="control-label dashboard-control-label" for="email">
            Email<span class="required-asterisk">*</span>
          </label>
          <input type="email" name="email" class="form-control" id="email" ng-model="user.email" required placeholder="your@email.com">
        </div>

        <div class="form-group">
          <label class="control-label dashboard-control-label" for="password">
            Password<span class="required-asterisk">*</span>
          </label>
          <input type="password" name="password" class="form-control" id="password" ng-model="user.password" required placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
        </div>

        <hr>

        <div class="form-group">
          <button class="btn btn-blue-inverse pull-right" ng-disabled="loading">
            <span ng-class="{ invisible : loading }">Sign In</span>
            <span ng-show="loading" class="spinner"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
